.best-collection-section{
    .section-title{
        max-width: 771px;
        width: 100%;
        margin: auto;

    }
}

.best-collection-content{
    padding-top: 60px;
}
.best-collection-card{
    border-radius: 20px;
    border: 1px solid #FFE600;
    background: rgba(75, 75, 75, 0.40);
    backdrop-filter: blur(100px);
    padding: 35px 28px;
    border-radius: 20px;
    overflow: hidden;
}

.best-collection-img{
    border-radius: 20px;
    overflow: hidden;
    margin-bottom: 60px;
    img{
        height: 100%;
        width: 100%;
    }
}

.best-collection-text{
    h4{
        margin-bottom: 13px;
    }
    .user{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin-bottom: 32px;
        p{
            color: #FFF;
            font-family: Bakbak One;
            font-size: 20px;
            font-weight: 400;
            margin-left: 19px;
            margin-bottom: 0px;
        }
    }
    .user-img{
        height: 30px;
        width: 30px;
    }

    .card-btns{
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 6%;
        button{
            width: 47%;
            padding: 12px;
            transition: 0.5s;
            font-family: Bakbak One;
            font-size: 20px;
            font-weight: 400;
            border-radius: 5px;
            &.bid-btn{
                background: #FFE600;
                border: none;
                border: 1px solid #FFE600;
                outline: none;
                color: #1A1A1A;
                &:hover{
                    background: transparent;
                    border: 1px solid #FFE600;
                    color: #FFFFFF;
                }
            }
            &.detail-btn{
                background: transparent;
                border: 1px solid #FFE600;
                color: #FFFFFF;
                &:hover{
                    background: #FFE600;
                    border: none;
                    outline: none;
                    color: #1A1A1A;
                }
            }
        }
    }
}

