.section-title{
    .title{
        @include textStyle(18px, 400, 30px);
        color: color(primary);
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin-bottom: 16px;
        gap: 12px;
        margin-bottom: 5px;
    }
    h2{
        margin-bottom: 0px;
        margin-bottom: 16px;
    }
    p{
        margin-bottom: 0px;
        font-size: 16px;
        line-height: 150%;
    }
    &.center{
        text-align: center;
        max-width: 732px;
        margin: auto;
        .title{
            justify-content: center;
        }
    }
}

.avater{
    border-radius: 50%;
    overflow: hidden;
    img{
        object-fit: cover;
        height: 100%;
        width: 100%;
    }

}